            * {
                box-sizing: border-box;
            }
            
            body {
                font-family: 'Mulish', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
            
            .header {
                display: flex;
                align-items: center;
                z-index: 2;
                background-color: #fff;
                padding-left: 32px;
                padding-right: 70px;
                margin-bottom: 30px;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
            }
            
            .input-search:focus {
                outline: none;
            }
            
            .button-search:focus {
                outline: none;
            }
            
            .menu-button {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 20px;
                height: 17px;
                background-color: white;
                border: none;
                margin-right: 28px;
                cursor: pointer;
            }
            
            .menu-line {
                display: block;
                background: #1F2022;
                width: 20px;
                height: 3px;
                border-radius: 20px;
            }
            
            .input-group {
                background: #EBEBEB;
                border-radius: 22px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 17px;
                max-width: 900px;
                width: 100%;
                margin-right: 30px;
            }
            
            .input-search {
                background-color: transparent;
                border: none;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 23px;
                padding-right: 23px;
                width: 100%;
                max-width: 950px
            }
            
            .button-search {
                width: 19px;
                height: 19px;
                border: none;
                background-color: transparent;
                padding: 0;
                cursor: pointer;
            }
            
            .icon-search {
                fill: #000;
            }
            
            .icons {
                display: flex;
                align-items: center;
                margin-left: auto;
            }
            
            .logo {
                margin-right: 59px;
            }
            
            .icons-link {
                text-decoration: none;
                opacity: 0.24;
            }
            
            .icons-link:hover {
                opacity: 0.7
            }
            
            .icons-link:not(:last-child) {
                margin-right: 50px;
            }
            
            .user {
                margin-left: 45px;
            }
            
            .user-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            
            .sidebar {
                position: fixed;
                padding-left: 32px;
                overflow-y: auto;
                left: 0;
                top: 114px;
                height: 90%;
                width: 14.5%;
                width: 200px;
                background-color: #fff;
            }
            
            .content {
                padding-left: 250px;
                padding-bottom: 85px;
                margin-top: 85px;
                padding-top: 20px;
                height: 400px;
                padding-right: 70px;
            }
            
            .nav-menu {
                margin-top: 0;
                margin-bottom: 60px;
                padding-left: 0;
                list-style-type: none;
            }
            
            .nav-item {
                margin-bottom: 28px;
                display: flex;
                align-items: center;
                color: #898989;
            }
            
            .nav-link {
                color: #898989;
                text-decoration: none;
            }
            
            .nav-link:hover {
                color: red;
            }
            
            .nav-link:hover .icon {
                fill: red;
            }
            
            .nav-item .icon {
                fill: #898989;
            }
            
            .nav-text {
                margin-left: 13px;
            }
            
            .subscriptions-title {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 30px;
            }
            
            .subscriptions-menu {
                padding-left: 0;
                list-style-type: none;
                margin-top: 30px;
                margin-bottom: 104px;
            }
            
            .subscriptions-item {
                margin-bottom: 26px;
                align-items: center;
                display: flex;
            }
            
            .subscriptions-link {
                text-decoration: none;
                display: flex;
                align-items: center
            }
            
            .subscriptions-text {
                padding-left: 10px;
                color: #898989;
            }
            
            .channel {
                position: relative;
                margin-bottom: 60px;
            }
            
            .channel-title {
                display: flex;
                align-items: center;
                text-decoration: none;
                padding-left: 5px;
                color: #19202C;
                font-style: inherit;
                font-size: 26px;
                line-height: 33px;
                margin-bottom: 30px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            
            .channel-avatar {
                margin-left: 20px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            
            .channel-text {
                margin-left: 20px;
            }
            
            .video-thumb {
                width: 100%;
                height: 150px;
                overflow: hidden;
                border-radius: 14px;
                position: relative;
            }
            
            .thumbnail {
                width: 100%;
                height: 100%;
            }
            
            .video-time {
                position: absolute;
                bottom: 10px;
                right: 0px;
                background: rgba(white, white, white, 0.2);
                border-radius: 12px;
                color: rgb(245, 243, 243);
                font-size: 14px;
                line-height: 18px;
                padding: 3px 9px;
            }
            
            .video-title {
                font-size: 15px;
                line-height: 20px;
                color: #19202C;
                margin-top: 10px;
                margin-bottom: 4px;
                font-family: cursive;
            }
            
            .video-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: initial;
                font-size: 13px;
                line-height: 16px;
            }
            
            .video-views {
                margin-right: 10px;
            }
            
            .video-channel {
                text-decoration: none;
                color: #000;
            }
            
            .channel-button {
                cursor: pointer;
            }
            
            .channel-button:focus {
                outline: none;
            }
            
            .slider-buttons {
                position: absolute;
                right: 0%;
                top: 0;
                display: flex;
                align-items: center;
            }
            
            .recommended {
                position: relative;
                margin-bottom: 60px;
            }
            
            .video-title-recommented {
                font-size: 15px;
                line-height: 10px;
                color: #19202C;
                margin-top: 10px;
                margin-bottom: 4px;
                font-family: cursive;
            }
            
            .video-info-recommented {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: initial;
                font-size: 15px;
                line-height: 15px;
            }
            
            .video-thumb-recommended {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 14px;
            }
            
            .video-time-recommended {
                position: absolute;
                bottom: -20px;
                right: 0px;
                background: rgba(white, white, white, 0.2);
                border-radius: 12px;
                color: rgb(245, 243, 243);
                font-size: 14px;
                line-height: 18px;
                padding: 90px 20px;
            }
            
            .recommended-channel {
                position: relative;
                width: 100%;
                margin-bottom: 100px;
            }
            
            .video-channel-rec {
                text-decoration: none;
                color: #000;
            }
            
            .video-thumb-recommended-for {
                width: 100%;
                overflow: hidden;
                border-radius: 14px;
                position: relative;
            }
            
            .video-info3 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: initial;
                font-size: 15px;
                line-height: 15px;
                margin-bottom: 150px
            }
            
            .mobile-sidebar {
                display: none;
            }
            
            @media ( max-width: 860px) {
                .icons {
                    display: none;
                }
                .user {
                    margin-left: 20px;
                }
            }
            
            .mobile-search {
                display: none;
            }
            
            @media ( max-width: 640px) {
                .mobile-search {
                    display: block;
                    margin-left: auto;
                }
                .input-group {
                    position: fixed;
                    top: -100px;
                    left: 0;
                    opacity: 0;
                    width: 70%;
                    margin-left: 30px;
                    transition: top 0.2s;
                }
                .input-group.is-open {
                    opacity: 1;
                    top: 0px;
                }
                .menu-button {
                    display: none;
                }
                .sidebar {
                    display: none;
                }
                .content {
                    padding-left: 32px;
                }
                .mobile-sidebar {
                    padding-top: 10px;
                    display: block;
                    position: fixed;
                    bottom: 0;
                    z-index: 99;
                    width: 100%;
                    height: 20%;
                    background-color: white;
                }
                .nav-text {
                    margin-left: 0;
                }
                .mobile-sidebar.nav-menu {
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    padding-top: 13px;
                    padding-bottom: 11px;
                    border-top: 2px solid#898989;
                    justify-content: space-around;
                }
            }